<!--編集画面-->
<h2>Editing Book</h2>

<!--編集フォーム-->
<%= form_with model:@book, local:true do |f| %>

  <p>Title</p>
  <%= f.text_field :title %>
  
  <p>Body</p>
  <%= f.text_area :body %>
  <%= f.submit 'Update Book' %>
<% end %>

<p><%= link_to "show", book_path(@book) %> | <%= link_to "back", books_path %></p>
