<!--編集画面-->
<h1>Editing Book</h1>

<!--編集フォーム-->
<%= form_with model:@book, local:true do |f| %>
  <div class = "form">
    <p class = "form-text">Title</p>
    <%= f.text_field :title %>
  </div>
  
  <div class = "form">
    <p class = "form-text">Body</p>
      <%= f.text_area :body %>
  </div>
  <%= f.submit 'Update Book' %>
<% end %>

<p><%= link_to "Show", book_path(@book) %> | <%= link_to "Back", books_path %></p>
